<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis -->	
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ibatis -->
<!-- <!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
	"http://ibatis.apache.org/dtd/sql-map-2.dtd"> -->

<mapper namespace="a020">
	<select id="issueTopBoardList" parameterType="com.mohaning.app.Model.SearchOptionVO" resultType="com.mohaning.app.Model.MHNA02001VO">
		SELECT seq_id,
		       news_id,
		       title,
		       contents,
		       view_cnt,
		       reg_id,
		       reg_dt
		  FROM mhna02001tb
		  ORDER BY view_cnt DESC, reg_dt DESC
		  LIMIT 5
	</select>
	
	<select id="issueNewBoardList" parameterType="com.mohaning.app.Model.SearchOptionVO" resultType="com.mohaning.app.Model.MHNA02001VO">
		SELECT seq_id,
		       news_id,
		       title,
		       contents,
		       view_cnt,
		       reg_id,
		       reg_dt
		  FROM mhna02001tb
		  ORDER BY reg_dt DESC
		  LIMIT 5
	</select>
	
	<select id="selectTopBoardList" parameterType="com.mohaning.app.Model.SearchOptionVO" resultType="com.mohaning.app.Model.MHNA02001VO">
		SELECT seq_id,
		       news_id,
		       title,
		       contents,
		       view_cnt,
		       reg_id,
		       reg_dt
		  FROM mhna02001tb
		  ORDER BY view_cnt DESC
		  LIMIT 10
	</select>
	
	<select id="selectNewBoardList" parameterType="com.mohaning.app.Model.SearchOptionVO" resultType="com.mohaning.app.Model.MHNA02001VO">
		SELECT seq_id,
		       news_id,
		       title,
		       contents,
		       view_cnt,
		       reg_id,
		       reg_dt
		  FROM mhna02001tb
		  ORDER BY reg_dt DESC
		  LIMIT 10
	</select>

	<insert id="insertBoard" parameterType="com.mohaning.app.Model.MHNA010VO">
		INSERT INTO mhna02001tb(
			NEWS_ID,
			TITLE,
			CONTENTS,
			REG_ID,
			REG_DT
		)VALUES(
			#{news_id},
			#{title},
			#{contents},
			'admin',
			now()
		)
	</insert>
</mapper>