<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis -->	
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ibatis -->
<!-- <!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
	"http://ibatis.apache.org/dtd/sql-map-2.dtd"> -->

<mapper namespace="b010">
	<select id="selectBoardList" parameterType="com.mohaning.app.Model.SearchOptionVO" resultType="com.mohaning.app.Model.MHNB010VO">
		SELECT board_id,
		       title,
		       CONVERT(contents USING utf8) as contents,
		       reg_dt,
		       view_cnt 
		  FROM mhnb01001tb
		  <where>
		  	<if test=" board_id!=null and board_id!='' ">
				board_id = #{board_id }
			</if>
			<choose>
				<when test=" val!=null and val!='' and type == 'TIT' ">
				title like #{val }
				</when>
				<when test=" val!=null and val!='' and type == 'CON' ">
				contents like #{val }
				</when>
				<when test=" val!=null and val!='' and type == 'MIX' ">
				title like #{val } or contents like #{val }
				</when>
			</choose>
		  </where>
		  <trim prefix="ORDER BY">
		  	<choose>
		  		<when test="sort == '02'">
		  		reg_dt ASC
		  		</when>
		  		<when test="sort == '03'">
		  		view_cnt DESC
		  		</when>
		  		<when test="sort == '04'">
		  		view_cnt ASC
		  		</when>
		  		<otherwise>
		  		reg_dt DESC
		  		</otherwise>
<!-- 		  		<when test="sort == '05'"> -->
<!-- 		  		cre_dt ASC -->
<!-- 		  		</when> -->
<!-- 		  		<when test="sort == '06'"> -->
<!-- 		  		cre_dt ASC -->
<!-- 		  		</when> -->
		  	</choose>
		  </trim>
		  LIMIT #{legnth} OFFSET #{offset}
	</select>
	
	<select id="selectBoard" parameterType="com.mohaning.app.Model.MHNB010VO" resultType="com.mohaning.app.Model.MHNB010VO">
		SELECT a.board_id,
		       a.news_id,
		       a.title,
		       CONVERT(a.contents USING utf8) as contents,
		       a.view_cnt,
		       a.reg_id,
		       a.reg_dt,
		       b.doc_id,
		       b.news_title,
		       CONVERT(b.news_contents USING utf8) as news_contents,
		       b.news_url,
		       b.portal_url,
		       c.author_id,
		       c.author_nm,
		       c.author_email,
		       d.media_id,
		       d.media_nm,
		       d.media_url
		  FROM mhnb01001tb a
		  LEFT JOIN mhnn01001tb b
		         ON a.news_id = b.news_id
		  LEFT JOIN mhna01001tb c
		         ON b.author_id = c.author_id
		  LEFT JOIN mhnc99901tb d
		         ON b.media_id = d.media_id
		 WHERE a.board_id = #{board_id}
	</select>
	
	<insert id="insertBoard" parameterType="com.mohaning.app.Model.MHNB010VO">
		INSERT INTO mhnb01001tb(
			NEWS_ID,
			TITLE,
			CONTENTS,
			REG_ID,
			REG_DT
		)VALUES(
			#{news_id},
			#{title},
			#{contents},
			#{reg_id},
			now()
		)
		<selectKey resultType="String" keyProperty="board_id" order="AFTER" >
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="updateCnt" parameterType="com.mohaning.app.Model.MHNB010VO">
		UPDATE mhnb01001tb SET view_cnt = view_cnt + 1 WHERE board_id = #{board_id}
	</update>
</mapper>