<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis -->	
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ibatis -->
<!-- <!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
	"http://ibatis.apache.org/dtd/sql-map-2.dtd"> -->

<mapper namespace="k010">
	<select id="selectKeyword" parameterType="com.mohaning.app.Model.SearchOptionVO" resultType="com.mohaning.app.Model.MHNK01001VO">
		SELECT keyword,
		       COUNT(keyword) AS cnt
		  FROM mhnk01001tb
		 GROUP BY keyword
		 ORDER BY cnt DESC
		 LIMIT 7
	</select>

	<insert id="insertKeyword" parameterType="com.mohaning.app.Model.SearchOptionVO">
		INSERT INTO mhnk01001tb(
			KEYWORD,
			REG_IP,
			REG_ID,
			REG_DT
		)VALUES(
			#{val},
			#{ip},
			'admin',
			now()
		)
	</insert>
</mapper>