.subnav > li{
  width: 100%;
  text-align: center;
}

.subnav-small > li{
  width:calc(100% / 6);
}

.uk-search-default{
}
.uk-button-text{
  margin-right: 1rem;
}
.m-border-t{
  border-top: thick double black;
}
.m-border-b{
  border-bottom: thick double black;
}
.m-border{
  border:thick double black;
}

/* uikit 서브용 */
.subFontList{
	font-size: 8pt;
}
.smallFontList{
	font-size: 10pt;
}
.uk-navbar-center .uk-navbar-nav li{
	min-width: 100px;
}

/* header */
header{
	background-color: #f8f8f8;
}
.uk-navbar-container{
	margin : 0 auto;
	width: 1280px;
	min-width: 1280px;
}

/* contents */
.container{
	position: relative;
	margin : 0 auto;
	width: 1280px;
	min-width: 1280px;
}

/* footer */